body {
	margin: 0;
	background-color: #303030;
}
#Z9container {
	position: absolute;
	background-color: #222;
	width: 100%;
	height: 330px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
#Z9example {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
